<div>
    <table class="m-full ml-5 mt-5 text-center rounded-lg shadow-md p-4 bg-white border">
        <thead class="bg-gray-50 border-b">    
            <tr>
                <th>
                    Empresa
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Data da Compra
                </th>
                <th>
                    Avaliação
                </th>
            </tr>
        </thead>
        <% @purchases.each do |purchase| %>
            <tbody>
            <tr>
                <td  class="p-4 text-justify">
                    <%= purchase.company.legal_name %>
                </td>
                <td  class="p-4 text-justify">
                    <%= purchase.customer_payment_method.customer.name %>
                </td>
                <td  class="p-4 text-justify">
                    <%= purchase.cost %>
                </td>
                <td  class="p-4 text-justify">
                    <%= link_to 'Acessar Avaliação', purchase_fraud_path(purchase.fraud.id), method: :post%>
                </td>
            </tr>
        <% end %>
    </tbody>
</div>
